{% extends 'shared/shared.html' %}
{% load mathfilters %}

{% block content %}
<div class="container details">
    <div class="row">
        <div class="col offset">
            <h2 class="text-right">{{object.product_name}}</h2>
            <p class="text-muted text-right">SKU: {{ object.prdocut_sku }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="card" width="100%" src="{{ object.product_image }}">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p class="price"><b>InStore Price: </b>${{ object.product_price }}</p>
                    {% with price=object.product_price|mul:.9 %}
                        <p class="price"><b>Online Price: </b>${{ price|floatformat:2 }}</p>
                    {% endwith %}
                </div>
                <div class="col">
                    {% if object.product_availability %}
                        <a class="btn btn-success btn-lg" href="#">BUY</a>
                    {% else %}
                        <span class="btn btn-danger">UNAVAILABLE</span>
                    {% endif %}
                </div>
            </div>
            <p>{{ object.product_description|safe }}</p>
        </div>
    </div>
</div>
{% endblock content %}